@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1d1f; /* Dark background color from the image */
  color: #fff; /* Default text color for better contrast */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
